.Container {
  max-width: 280px;
  margin-bottom: 30px;
}

.Image {
  width: 280px;
  max-height: 200px;
}
.Name {
  font-size: 18px;
  margin: 0px;
  padding-top: 4px;
  padding-bottom: 4px;
}
.Price {
  margin: 0px;
  padding-top: 4px;
  padding-bottom: 4px;
}
.Description {
  height: 120px;
  margin: 0px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.EditBtn {
  width: 100%;
  border: none;
  height: 30px;
}
.Form {
  margin-bottom: 30px;
}

.BtnContainer {
  display: flex;
  flex-direction: column;
}
.Btn {
  border: none;
  height: 30px;
  margin-bottom: 10px;
}

.Input {
  width: 280px;
}
.Textarea {
  width: 280px;
  height: 80px;
}
